<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.plus.ldl.mapper.UserMapper">
    <resultMap id="userMap" type="User">
        <id column="userId" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday"/>
        <collection property="orders" ofType="plus.plus.ldl.domain.Orders">
            <id column="id" property="id"/>
            <result column="orderTime" property="orderTime"/>
            <result column="total" property="total"/>
            <result property="user.id" column="uid"/>
        </collection>
    </resultMap>

    <!--配置查询所有-->
    <select id="findAllAndOrders" resultMap="userMap">
        select u.username, u.`password`, u.birthday, u.id userId, o.*
        from user u
                 left join orders o on u.id = o.uid;
    </select>
</mapper>