<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.ldl.service.goods.mapper.AlbumMapper">
    <resultMap id="BaseResultMap" type="plus.ldl.goods.domain.Album">
        <!--@mbg.generated generated on Tue Jun 02 14:27:04 CST 2020.-->
        <!--@Table tb_album-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="image_items" jdbcType="LONGVARCHAR" property="imageItems"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Tue Jun 02 14:27:04 CST 2020.-->
        id, title, image, image_items
    </sql>
</mapper>
