<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.ldl.service.goods.mapper.ParaMapper">
  <resultMap id="BaseResultMap" type="plus.ldl.goods.domain.Para">
    <!--@mbg.generated generated on Tue Jun 02 14:27:04 CST 2020.-->
    <!--@Table tb_para-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="options" jdbcType="VARCHAR" property="options" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="template_id" jdbcType="INTEGER" property="templateId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Jun 02 14:27:04 CST 2020.-->
    id, `name`, `options`, seq, template_id
  </sql>
</mapper>
